@page "/MyAccount"

<h3>Update my Username</h3>
	<div class="row">
		<div class="col-4">
			<div class="form-group">
				<label>New username:</label>
				<input type="text" @bind-value="_username" class="form-control" @onkeyup="UpdateUsername"/>
				<button type="submit" class="btn btn-primary m-3" @onclick="() => UpdateUsername(new KeyboardEventArgs())">Save</button>
		</div>
	</div>
</div>

